# Discord user ID (Developer Mode -> right click yourself -> Copy User ID)
PUBLIC_DISCORD_ID=563801028139679755

# GitHub username used for the public activity feed
PUBLIC_GITHUB_USER=cookiexzero

# Contact address shown in the links list
PUBLIC_EMAIL=mail@cookiexzero.ru
